<div class="w-64 min-h-screen bg-slate-900 text-white p-6">

  <h1 class="text-3xl font-bold text-blue-400 mb-8">
    Taskify 🚀
  </h1>

  <nav class="flex flex-col gap-3">

    <a routerLink="/home"
       routerLinkActive="bg-slate-800"
       class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800">

      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </a>

    <a routerLink="/categories"
       routerLinkActive="bg-slate-800"
       class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800">

      <ion-icon name="grid-outline"></ion-icon>
      Categorías
    </a>

  </nav>

</div>